:root {
    --btn-color: #2b5180;
}

body {
    background-color: #ffffff;
    --custom-bg-card: #ffffff;
    --custom-border: rgba(229, 231, 235, 0.707);
    --theme-text: #272525;
}

.bi-bell,
.bi-moon,
.bi-sun {
    color: #dce2e9;
    font-size: 20px;
}

i.bi-sun:hover,
.bi-moon:hover {
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.header {
    background-color: #262b3c;
    color: rgb(201, 204, 217);
}

.footer {
    background-color: #262b3c !important;
    color: rgb(201, 204, 217);
}

.sidebar {
    border-right: 1px solid var(--bs-border-color);
    background-color: #ecedee;
    height: 76vh;
    overflow-y: auto;
}

.card-header {
    background-color: var(--btn-color) !important;
    color: #fff !important;
}

button {
    color: #fff !important;
    background-color: var(--btn-color) !important;
}

.fakeuser {
    background-color: #fff;
    padding-left: 6px;
    padding-top: 6px;
    color: #272525;
}


.table-dark {
    --bs-table-bg: var(--custom-bg-table) !important;
    --bs-table-striped-bg: #282e40 !important;
    --bs-table-hover-bg: #222736 !important;
    --bs-border-color: var(--bs-border-color);
    color: var(--theme-text);
}

.table-light {
    --bs-table-bg: white !important;
    --bs-table-striped-bg: #f8f9fa !important;
    --bs-table-hover-bg: #e9ecef !important;
    --bs-border-color: var(--bs-border-color);
    color: var(--theme-text);
}

.table th,
.table td {
    border: 1px solid var(--bs-border-color) !important;
}

.table-responsive {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: visible !important;
}