:root {
    --btn-color: #2b5180;
}

body {
    background-color: #ffffff;
    --custom-bg-card: #ffffff;
    --custom-border: rgba(229, 231, 235, 0.707);
    --theme-text: #272525;
}

.bi-bell,
.bi-moon,
.bi-sun {
    color: #dce2e9;
    font-size: 20px;
}

i.bi-sun:hover,
.bi-moon:hover {
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.header {
    background-color: #262b3c;
    color: rgb(201, 204, 217);
}

.footer {
    background-color: #262b3c !important;
    color: rgb(201, 204, 217);
}

.sidebar {
    border-right: 1px solid var(--bs-border-color);
    background-color: #ecedee;
    height: 76vh;
    overflow-y: auto;
}

.card-header {
    background-color: var(--btn-color) !important;
    color: #fff !important;
}

button {
    color: #fff !important;
    background-color: var(--btn-color) !important;
}

.fakeuser {
    background-color: #fff;
    padding-left: 6px;
    padding-top: 6px;
    color: #272525;
}


.table-dark {
    --bs-table-bg: var(--custom-bg-table) !important;
    --bs-table-striped-bg: #282e40 !important;
    --bs-table-hover-bg: #222736 !important;
    --bs-border-color: var(--bs-border-color);
    color: var(--theme-text);
}

.table-light {
    --bs-table-bg: white !important;
    --bs-table-striped-bg: #f8f9fa !important;
    --bs-table-hover-bg: #e9ecef !important;
    --bs-border-color: var(--bs-border-color);
    color: var(--theme-text);
}

.table th,
.table td {
    border: 1px solid var(--bs-border-color) !important;
}

.table-responsive {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: visible !important;
}

/* Postit */
@media (max-width: 600px) {
    .list-group-item {
        max-width: 100%;
    }
}

.postit {
    position: relative;
    background-color: #feff9c;
    border: 1px solid #feff9c;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    font-family: 'Comic Sans MS', cursive;
    max-width: 300px;
    overflow: hidden;
    font-size: 0.9em;
}


.postit-content {
    max-height: 4.5em;
    line-height: 1.3em;
    font-size: 0.8em;
    width: 300px;
    word-wrap: break-word;
}

.postit-footer {
    font-size: 0.5em !important;
    text-align: left;
}

.postit button {
    padding: none;
    margin: none;
}

.postit .postit-icon {
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.postit button:first-of-type {
    right: 30px;
}

.postit button:last-of-type {
    right: 5px;
}

/* Postit Editor */
.postit-editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #feff9c;
    border: 1px solid #feff9c;
    border-radius: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 350px;
    height: 250px;
    z-index: 1000;
}

div.postit-editor textarea:hover {
    background-color: #fefcbf;
}


.postit-editor textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    background-color: #feff9c;
    border: 1px solid #e6e886;
    font-size: 1.2em;
    color: var(--theme-text);
}

.postit-editor textarea:focus {
    border-color: #ffdf5f;
    outline: none;
}

li.postit {
    cursor: pointer;
    max-width: 230px !important;
}

.postit-content {
    color: #333;
    max-width: 210px;
}

p.postit-content-modal {
    font-size: large;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

/* Editor/Modal POSTIT */
div.modal-content.postit {
    font-size: 1.3em;
    padding: 20px;
}


.editor-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.editor-buttons button {
    flex: 1;
    margin: 0 5px;
}

.bi-plus-circle:hover {
    color: var(--blue-color);
    cursor: pointer;
}

.editor-buttons button {
    flex: 1;
    margin: 0 5px;
}

.modal-content.postit {
    background-color: #feff9c;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1px;
    max-width: 370px;
}

.postit {
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    padding: 10px;
}

.postit:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #fefcbf;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important;
}

.view {
    border: none !important;
}

div.modal-body {
    border: none !important;
    width: 350px;
    padding: 0%;
}

div.modal-footer {
    padding: none !important;
    border: none !important;
}

.input-group {
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
}

.list-group-item button {
    padding: 0;
    margin-left: 10px;
}

.list-group-item {
    display: flex;
    flex-direction: column;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    background-color: #ffeb3b;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.list-group-item button {
    padding: 0;
    margin-left: 10px;
}